<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>💬 Feed</title>
    <link rel="stylesheet" href="new_style.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js"></script>
  </head>

  <body>
    <header class="header">
      <a href="index.html" class="logo">💬 Messagly</a>
      <button
        class="home-buttons"
        id="search-again-button"
        onclick="goToHomepage()"
      >
        <b>🔍 Search</b>
      </button>
      <!-- Only show the "Sign Out" button if the user is authenticated. -->
      <button class="home-buttons" id="sign-out-button">⏏️ Sign Out</button>
    </header>

    <main>
      <div class="intro">
        <button
          class="home-buttons"
          onclick="goBack()"
          style="color: white; position: absolute; top: 100px; left: 45px"
        >
          ⬅️ Go Back
        </button>
        <h3 style="margin-bottom: 0.25em">Your feed</h3>
        <div id="app">
          <p2 v-show="!isEmpty" style="margin-top: 0.0001em; font-size: 25px"
            >Read what the users you follow are posting</p2
          >
          <div
            :class="{'scrollable-container': true, 'hide-scrollbar': isEmpty}"
          >
            <template v-for="message in messages">
              <div class="post-container">
                <div class="post-header">
                  <div class="post-author">{{ message.author }}</div>
                  <div class="post-date">{{ formatDate(message.date) }}</div>
                </div>
                <div class="post-content">{{ message.text }}</div>
                <div class="likes">
                  <span id="like-count">{{ likes[message._id].count }}</span>
                  👍
                  <button
                    class="read-button"
                    id="oneMsgButton"
                    v-on:click="readMessage(message.authorId, message._id)"
                    style="color: white"
                  >
                    Read and Like
                  </button>
                </div>
              </div>
            </template>
            <div v-if="isEmpty">
              <p2 style="margin-top: 0.0001em; font-size: 25px"
                >No messages found because you don't follow anyone.</p2
              >
            </div>
          </div>
        </div>
      </div>
    </main>

    <footer class="footer">
      <div class="copy">© 2023 Developer</div>
    </footer>

    <script>
      window.onload = function () {
        // Fetch the API to check if the user is authenticated
        fetch("http://localhost:3000/api/auth/verify")
          .then((response) => response.json())
          .then((data) => {
            if (!data.isAuthenticated) {
              // Only authenticated users can visualize this page
              alert("You are not an authenticated user, you cannot be here");
              window.location.href = "index.html";
            }
          })
          .catch((error) => {
            console.error(error);
          });

        const app = new Vue({
          el: "#app",
          data: {
            messages: [],
            likes: {},
            isAuthenticated: false,
          },
          mounted() {
            fetch("http://localhost:3000/api/social/feed")
              .then((res) => {
                return res.json();
              })
              .then((messages) => {
                this.messages = messages;
                messages.forEach((message) => {
                  fetch(`http://localhost:3000/api/social/like/${message._id}`)
                    .then((res) => {
                      return res.json();
                      localStorage.getItem(
                        `message-${message._id}-likes-${
                          likes[message._id].count
                        }`
                      );
                    })
                    .then((likes) => {
                      this.$set(this.likes, message._id, {
                        count: likes.count,
                      });
                    });
                });
              })
              .catch((error) => console.error(error));
            // Fetch the API to check if the user is authenticated
            fetch("http://localhost:3000/api/auth/verify")
              .then((response) => response.json())
              .then((data) => {
                this.isAuthenticated = data.isAuthenticated;
              })
              .catch((error) => {
                console.error(error);
              });
          },
          methods: {
            formatDate(date) {
              const dateObject = new Date(date);
              return dateObject.toLocaleString();
            },
            readMessage(userId, idMsg) {
              fetch(
                `http://localhost:3000/api/social/messages/${userId}/${idMsg}`
              )
                .then((res) => {
                  return res.json();
                })
                .then((message) => {
                  localStorage.setItem(
                    `message-${message._id}`,
                    JSON.stringify(message)
                  );
                  window.location.href = `one_msg.html?id=${message._id}`;
                })
                .catch((err) => {
                  console.error(err);
                });
            },
          },
          computed: {
            isEmpty() {
              return this.messages.length === 0;
            },
          },
        });

        // Sign out operation
        const signOutButton = document.getElementById("sign-out-button");
        signOutButton.addEventListener("click", async (e) => {
          const res = await fetch("http://localhost:3000/api/auth/signout", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
          })
            .then((res) => {
              return res.json();
            })
            .then((data) => {
              if (data.message === "Successfully logged out") {
                window.location.href = "index.html";
              } else if (data.message === "Failed log out") {
                alert(
                  "Something went wrong during logging out, please try again"
                );
              }
            })
            .catch((error) => {
              console.error("Something went wrong during fetch: ", error);
            });
        });
      };

      function goBack() {
        if (document.referrer.endsWith("after_login.html")) {
          window.location.href = "after_login.html";
        } else if (document.referrer.endsWith("user_profile.html")) {
          window.location.href = "user_profile.html";
        } else {
          window.history.back();
        }
      }

      function goToHomepage() {
        window.location.href = "index.html";
      }
    </script>
  </body>
</html>
