<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>💬 Messages</title>
    <link rel="stylesheet" href="new_style.css" />
    <script src="https://unpkg.com/vue@2.6.14/dist/vue.min.js"></script>
  </head>

  <body>
    <header class="header">
      <a href="index.html" class="logo">💬 Messagly</a>
      <div class="search-container">
        <form
          id="search-form"
          class="search-form"
          v-on:submit.prevent="search"
          action="search_results.html"
          method="get"
        >
          <input
            type="text"
            id="search-input"
            v-model="searchQuery"
            name="search"
            placeholder="Search users"
            required
          />
          <button id="search-button" class="search-button" type="submit">
            🔍
          </button>
        </form>
      </div>
      <button class="home-buttons" id="sign-out-button" v-if="isAuthenticated">
        ⏏️ Sign Out
      </button>
    </header>

    <main>
      <div class="intro">
        <button
          class="home-buttons"
          onclick="window.history.back()"
          style="color: white; position: absolute; top: 100px; left: 45px"
        >
          ⬅️ Go Back
        </button>
        <h3 style="margin-bottom: 0.25em">All messages</h3>
        <p2 style="margin-top: 0.0001em; font-size: 25px"
          >Read all messages of all users</p2
        >
        <div id="app">
          <div class="scrollable-container">
            <template v-for="message in messages">
              <div>
                <div class="post">
                  <div class="post-header">
                    <div class="post-author">{{ message.author }}</div>
                    <div class="post-date">{{ formatDate(message.date) }}</div>
                  </div>
                  <div class="post-content">{{ message.text }}</div>
                  <div class="likes">
                    <span id="like-count">{{ likes[message._id].count }}</span>
                    👍
                    <button
                      class="read-button"
                      id="oneMsgButton"
                      v-on:click="readMessage(message.authorId, message._id)"
                      style="color: white"
                    >
                      Read and Like
                    </button>
                  </div>
                </div>
              </div>
            </template>
          </div>
        </div>
      </div>
    </main>

    <footer class="footer">
      <div class="copy">© 2023 Developer</div>
    </footer>

    <script>
      window.onload = function () {
        const app = new Vue({
          el: "#app",
          data: {
            messages: [],
            likes: {},
            isAuthenticated: false,
          },
          mounted() {
            fetch("http://localhost:3000/api/social/messages")
              .then((res) => {
                return res.json();
              })
              .then((messages) => {
                this.messages = messages;
                messages.forEach((message) => {
                  fetch(`http://localhost:3000/api/social/like/${message._id}`)
                    .then((res) => {
                      return res.json();
                      localStorage.getItem(
                        `message-${message._id}-likes-${
                          likes[message._id].count
                        }`
                      );
                    })
                    .then((likes) => {
                      this.$set(this.likes, message._id, {
                        count: likes.count,
                      });
                    });
                });
              })
              .catch((error) => console.error(error));
            // Fetch the API to check if the user is authenticated
            fetch("http://localhost:3000/api/auth/verify")
              .then((response) => response.json())
              .then((data) => {
                this.isAuthenticated = data.isAuthenticated;
              })
              .catch((error) => {
                console.error(error);
              });
          },
          methods: {
            formatDate(date) {
              const dateObject = new Date(date);
              return dateObject.toLocaleString();
            },
            readMessage(userId, idMsg) {
              fetch(
                `http://localhost:3000/api/social/messages/${userId}/${idMsg}`
              )
                .then((res) => {
                  console.log(res);
                  return res.json();
                })
                .then((message) => {
                  localStorage.setItem(
                    `message-${message._id}`,
                    JSON.stringify(message)
                  );
                  window.location.href = `one_msg.html?id=${message._id}`;
                })
                .catch((err) => {
                  console.error(err);
                });
            },
          },
        });

        const signOutButton = document.getElementById("sign-out-button");
        // Fetch the API to check if the user is authenticated
        fetch("http://localhost:3000/api/auth/verify")
          .then((response) => response.json())
          .then((data) => {
            if (data.isAuthenticated) {
              // If the user is authenticated, show the logout button
              signOutButton.style.display = "block";
            } else {
              // If the user is not authenticated, hide the logout button
              signOutButton.style.display = "none";
            }
          })
          .catch((error) => {
            console.error(error);
          });

        // Sign out operation
        signOutButton.addEventListener("click", async (e) => {
          const res = await fetch("http://localhost:3000/api/auth/signout", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
          })
            .then((res) => {
              return res.json();
            })
            .then((data) => {
              if (data.message === "Successfully logged out") {
                window.location.href = "index.html";
              } else if (data.message === "Failed log out") {
                alert(
                  "Something went wrong during logging out, please try again"
                );
              }
            })
            .catch((error) => {
              console.error("Something went wrong during fetch: ", error);
            });
        });
      };
    </script>
  </body>
</html>
