@import url("https://fonts.googleapis.com/css2?family=Sriracha&display=swap");

body {
  font-family: Arial, sans-serif;
  margin: 0;
  box-sizing: border-box;
}

/* header */
.header {
  display: flex;
  background-color: #f5f5f5;
  padding: 10px;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}

.header .logo {
  font-size: 25px;
  font-family: "Sriracha", cursive;
  color: #000;
  text-decoration: none;
  margin-left: 30px;
  align-items: left;
}

/* search */
.search-container {
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
}

.search-form {
  display: flex;
  align-items: center;
}

.search-form input[type="text"] {
  padding: 20px;
  margin: 10px 0;
  border-radius: 15px;
  background-color: #f2f2f2;
  font-size: 16px;
  width: 70%;
  float: left;
  flex-grow: 1;
}

.search-button {
  background-color: #4eb6c9;
  border-radius: 45px;
  color: white;
  float: right;
  font-size: 16px;
  margin: 10px 0;
  padding: 10px 20px;
  width: 20%;
}

.search-button:hover {
  background-color: #30a8bd;
}

.info-button {
  background-color: #4eb6c9;
  border-radius: 25px;
  color: white;
  flex-direction: row;
  font-size: 20px;
  font-weight: bold;
  margin: 15px;
  padding: 10px 25px;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.4);
}

/* buttons */
.home-buttons {
  background-color: #4eb6c9;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  flex-direction: row;
  font-size: 20px;
  font-weight: bold;
  margin: 15px;
  padding: 10px 25px;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.4);
}

.home-buttons:hover {
  background-color: #30a8bd;
}

.buttons {
  display: flex;
  justify-content: center;
}

.read-button {
  font-weight: bold;
}

#goToYourProfileButton {
  display: block;
}

/* intro */
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 85vh;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url("background_image.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}

.intro h1 {
  font-family: sans-serif;
  font-size: 60px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}

.intro h2 {
  font-family: sans-serif;
  font-size: 30px;
  color: #3b3b3b;
  font-weight: bold;
  margin-top: 10px;
}

.intro h3 {
  font-family: sans-serif;
  font-size: 40px;
  color: #ffffff;
  font-weight: bold;
}

.intro p1 {
  font-size: 22px;
  color: #3b3b3b;
  margin: 20px 0;
  margin-bottom: 1px;
}

.intro p2 {
  font-size: 30px;
  color: #dddddd;
  font-weight: bolder;
  margin: 20px 0;
  margin-bottom: 1px;
  display: flex;
  justify-content: center;
}

.home-container {
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 2px lightgray;
}

/* forms */
.form-container {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 10px;
  box-shadow: 0 0 10px #cccccc;
  margin: 100px auto;
  padding: 30px;
  width: 500px;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

input[type="text"],
input[type="username"],
input[type="password"] {
  background-color: #f2f2f2;
  border: 1px solid #cccccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
  height: 45px;
  margin-bottom: 20px;
  padding: 0 10px;
  width: 100%;
}

input[type="submit"] {
  background-color: #4eb6c9;
  border: 0;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  height: 45px;
  letter-spacing: 2px;
  text-transform: uppercase;
  width: 100%;
}

input[type="submit"]:hover {
  background-color: #419aaa;
}

.form-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-group .form-control {
  width: 48%;
}

.form-switch {
  text-align: center;
  margin-top: 30px;
}

/* sign up button */
.sign-up-button {
  background-color: #3c79eb;
  border: 0;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  height: 45px;
  letter-spacing: 2px;
  text-transform: uppercase;
  width: 100%;
  margin-top: 20px;
}

.sign-up-button:hover {
  background-color: #2c6ce2;
}

a {
  color: #000000;
  font-size: 16px;
  text-decoration: none;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #302f49;
  padding: 40px 80px;
}

.footer .copy {
  color: #fff;
}

/* messages */
.post {
  background-color: #f2f2f2;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-family: sans-serif;
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  max-width: 700px;
  word-wrap: break-word;
}

.post-container {
  background-color: #f2f2f2;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-family: sans-serif;
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  max-width: 700px;
  word-wrap: break-word;
}

.post-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

.post-author {
  font-weight: bold;
  font-size: 16px;
}

.post-date {
  font-size: 15px;
  color: gray;
  text-align: right;
}

.post-content {
  font-size: 14px;
}

.post:hover {
  border-color: #4eb6c9;
  box-shadow: 0 0 10px rgba(78, 182, 201, 0.5);
}

/* Profiles */
.profile {
  background-color: #f2f2f2;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  font-family: "Sriracha";
  font-size: 40px;
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  max-width: 700px;
  word-wrap: break-word;
}

.profile:hover {
  border-color: #4eb6c9;
  box-shadow: 0 0 10px rgba(78, 182, 201, 0.5);
}

.profile a {
  font-size: 20px;
}

/* Like */
.likes {
  font-size: 12px;
  color: gray;
  margin-top: 10px;
}

.likes button {
  background-color: #4eb6c9;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 12px;
  cursor: pointer;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.4);
}

.likes button:hover {
  background-color: #419aaa;
}

.scrollable-container {
  height: 400px;
  overflow-y: auto;
}

.hide-scrollbar {
  overflow-y: hidden;
}

/* message creation */
textarea {
  width: 500px;
  height: 200px;
  padding: 10px;
  font-family: sans-serif;
  font-size: 14px;
  border: 1px solid #ddd;
  box-shadow: 2px 2px 2px #eee;
  border-radius: 15px;
  resize: vertical;
  margin-bottom: 20px;
}

/* profile */
.card {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 15px;
  padding: 10px;
}

.card table {
  width: 100%;
  font-size: 20px;
}

.card td {
  padding: 5px;
}

.card:hover {
  border-color: #4eb6c9;
  box-shadow: 0 0 10px rgba(78, 182, 201, 0.5);
}

.card .p2 {
  color: gray;
  font-weight: bold;
}
