<!DOCTYPE html>
<html>
  <head>
    <title>💬 Messages</title>
    <link rel="stylesheet" href="new_style.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js"></script>
  </head>

  <header class="header">
    <a href="index.html" class="logo">💬 Messagly</a>
    <button
      class="home-buttons"
      id="search-again-button"
      onclick="goToHomepage()"
    >
      <b>🔍 Search</b>
    </button>
    <!-- Only show the "Sign Out" button if the user is authenticated. -->
    <button class="home-buttons" id="sign-out-button">⏏️ Sign Out</button>
  </header>

  <main>
    <div class="intro">
      <button
        class="home-buttons"
        onclick="window.history.back()"
        style="color: white; position: absolute; top: 100px; left: 45px"
      >
        ⬅️ Go Back
      </button>
      <div id="app">
        <h3>{{username}}'s messages</h3>
        <div class="scrollable-container">
          <template
            v-show="!isEmpty"
            v-for="message in messages"
            :key="message._id"
          >
            <div>
              <div class="post">
                <div class="post-header">
                  <div class="post-author">{{ message.author }}</div>
                  <div class="post-date">{{ formatDate(message.date) }}</div>
                </div>
                <div class="post-content">{{ message.text }}</div>
                <div class="likes">
                  <button
                    class="read-button"
                    id="oneMsgButton"
                    v-on:click="readMessage(message.authorId, message._id)"
                    style="color: white"
                  >
                    <b>Read message</b>
                  </button>
                </div>
              </div>
            </div>
          </template>
          <div v-if="isEmpty">
            <p2 style="margin-top: 0.0001em; font-size: 25px"
              >No messages found.</p2
            >
          </div>
        </div>
      </div>
    </div>
  </main>

  <footer class="footer">
    <div class="copy">© 2023 Developer</div>
  </footer>

  <script>
    window.onload = function () {
      const username = localStorage.getItem("username");
      const userDataObject = JSON.parse(localStorage.getItem("userData"));
      const userData = userDataObject[0];
      if (!username) {
        username = userData.username;
      }
      const messages = JSON.parse(localStorage.getItem(`messages`));

      const app = new Vue({
        el: "#app",
        data: {
          messages: null,
          username: username,
          userData: userData,
          isAuthenticated: false,
        },
        mounted() {
          fetch(`http://localhost:3000/api/social/messages/${userData._id}`)
            .then((res) => {
              return res.json();
            })
            .then((messages) => (this.messages = messages))
            .catch((error) => console.error(error));
        },
        methods: {
          formatDate(date) {
            const dateObject = new Date(date);
            return dateObject.toLocaleString();
          },
          readMessage(userId, idMsg) {
            fetch(
              `http://localhost:3000/api/social/messages/${userId}/${idMsg}`
            )
              .then((res) => {
                console.log(res);
                return res.json();
              })
              .then((message) => {
                localStorage.setItem(
                  `message-${message._id}`,
                  JSON.stringify(message)
                );
                window.location.href = `one_msg.html?id=${message._id}`;
              })
              .catch((err) => {
                console.error(err);
              });
          },
        },
        computed: {
          isEmpty() {
            return this.messages.length === 0;
          },
        },
      });
    };
    function goToHomepage() {
      window.location.href = "index.html";
    }
  </script>
</html>
