<!DOCTYPE html>
<html>
  <head>
    <title>💬 Message</title>
    <link rel="stylesheet" href="new_style.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js"></script>
  </head>
  <body>
    <header class="header">
      <a href="index.html" class="logo">💬 Message</a>
      <button
        class="home-buttons"
        id="search-again-button"
        onclick="goToHomepage()"
      >
        <b>🔍 Search</b>
      </button>
      <!-- Only show the "Sign Out" button if the user is authenticated. -->
      <button class="home-buttons" id="sign-out-button" v-if="isAuthenticated">
        ⏏️ Sign Out
      </button>
    </header>

    <main>
      <div class="intro">
        <button
          class="home-buttons"
          onclick="goBack()"
          style="color: white; position: absolute; top: 100px; left: 45px"
        >
          ⬅️ Go Back
        </button>
        <h3 style="margin-bottom: 0.25em">Message</h3>
        <div id="app" class="app">
          <div class="post">
            <div class="post-header">
              <div class="post-author">{{ message.author }}</div>
              <div class="post-date">{{ formatDate(message.date) }}</div>
            </div>
            <div class="post-content">{{ message.text }}</div>
            <div class="likes">
              <span id="like-count">{{ likes[message._id].count }}</span>
              👍
              <!--               <button
                id="likeButton"
                style="color: white"
                @click="isLiked ? unlikeMessage() : likeMessage()"
                v-if="isAuthenticated"
              >
                {{ isLiked ? 'Unlike' : 'Like' }}
              </button> -->
              <button
                v-if="isAuthenticated && !isLiked"
                @click="likeMessage"
                style="color: white"
              >
                Like
              </button>
              <button
                v-if="isAuthenticated && isLiked"
                @click="unlikeMessage"
                style="color: white"
              >
                Unlike
              </button>
            </div>
          </div>
        </div>
      </div>
    </main>

    <footer class="footer">
      <div class="copy">© 2023 Developer</div>
    </footer>

    <script>
      const app = new Vue({
        el: "#app",
        data: {
          message: {},
          likes: {},
          isAuthenticated: false,
          isLiked: null,
          userId: null,
        },
        mounted() {
          const urlParams = new URLSearchParams(window.location.search);
          const messageId = urlParams.get("id");
          const message = JSON.parse(
            localStorage.getItem(`message-${messageId}`)
          );
          if (message !== null) {
            this.message = message;
            this.fetchLikes();
          }
          // Fetch the API to check if the user is authenticated
          fetch("http://localhost:3000/api/auth/verify")
            .then((response) => response.json())
            .then((data) => {
              this.isAuthenticated = data.isAuthenticated;
              if (this.isAuthenticated) {
                this.userId = data.userId;
                /* this.isLiked = JSON.parse(
                  localStorage.getItem(`message-${messageId}-isLiked`)
                ); // Retrieve the state of isLiked from local storage 
                this.fetchLike();*/
                const isLikedLocal = JSON.parse(
                  localStorage.getItem(`message-${messageId}-isLiked`)
                );
                if (isLikedLocal !== null) {
                  // If the isLiked state is found in local storage, update it and return
                  this.isLiked = isLikedLocal;
                //  return;
                }
                // If the isLiked state is not found in local storage, make an API call to check the database
                fetch(`http://localhost:3000/api/didUserLike/${messageId}`, {
                  credentials: "include",
                })
                  .then((res) => res.json())
                  .then((data) => {
                    if (data.hasLiked) {
                      this.isLiked = true;
                    } else {
                      this.isLiked = false;
                    }
                    console.log("isLiked:", this.isLiked);
                    // Update the isLiked state in local storage
                    localStorage.setItem(
                      `message-${messageId}-isLiked`,
                      JSON.stringify(this.isLiked)
                    );
                  })
                  .catch((error) => {
                    console.error(error);
                  });
              }
            })
            .catch((error) => {
              console.error(error);
            });
        },
        methods: {
          formatDate(date) {
            const dateObject = new Date(date);
            return dateObject.toLocaleString();
          },
          fetchLikes() {
            // Set the number of likes
            fetch(`http://localhost:3000/api/social/like/${this.message._id}`)
              .then((res) => {
                return res.json();
              })
              .then((likes) => {
                this.$set(this.likes, this.message._id, likes);
                this.fetchLike();
              })
              .catch((error) => console.error(error));
          },
          fetchLike() {
            // Check if the user has already liked the message
            if (this.isAuthenticated) {
              const messageId = this.message._id;
              const isLikedLocal = JSON.parse(
                localStorage.getItem(`message-${messageId}-isLiked`)
              );

              if (isLikedLocal !== null) {
                // If the isLiked state is found in local storage, update it and return
                this.isLiked = isLikedLocal;
                return;
              }

              // If the isLiked state is not found in local storage, make an API call to check the database
              fetch(`http://localhost:3000/api/didUserLike/${messageId}`, {
                credentials: "include",
              })
                .then((res) => res.json())
                .then((data) => {
                  if (data.hasLiked) {
                    this.isLiked = true;
                  } else {
                    this.isLiked = false;
                  }
                  console.log("isLiked:", this.isLiked);
                  // Update the isLiked state in local storage
                  localStorage.setItem(
                    `message-${messageId}-isLiked`,
                    JSON.stringify(this.isLiked)
                  );
                })
                .catch((error) => {
                  console.error(error);
                });
            }
          },
          likeMessage() {
            fetch(`http://localhost:3000/api/social/like/${this.message._id}`, {
              method: "POST",
              credentials: "include",
            })
              .then(() => {
                this.isLiked = true;
                this.likes[this.message._id].count++;
                this.fetchLike();
                localStorage.setItem(
                  `message-${this.message._id}-isLiked`,
                  true
                ); // Store the state of isLiked in local storage
                localStorage.setItem(
                  `message-${this.message._id}-likes-${
                    this.likes[this.message._id].count + 1
                  }`,
                  JSON.stringify({ message: this.message, likes: this.likes })
                );
              })
              .catch((error) => {
                console.error(error);
              });
          },
          unlikeMessage() {
            fetch(`http://localhost:3000/api/social/like/${this.message._id}`, {
              method: "DELETE",
              credentials: "include",
            })
              .then(() => {
                this.isLiked = false;
                this.likes[this.message._id].count--;
                this.fetchLike();
                localStorage.setItem(
                  `message-${this.message._id}-isLiked`,
                  false
                ); // Store the state of isLiked in local storage
                localStorage.setItem(
                  `message-${this.message._id}-likes-${
                    this.likes[this.message._id].count + 1
                  }`,
                  JSON.stringify({ message: this.message, likes: this.likes })
                );
              })
              .catch((error) => {
                console.error(error);
              });
          },
        },
      });

      const signOutButton = document.getElementById("sign-out-button");
      // Fetch the API to check if the user is authenticated
      fetch("http://localhost:3000/api/auth/verify")
        .then((response) => response.json())
        .then((data) => {
          if (data.isAuthenticated) {
            // If the user is authenticated, show the logout button
            signOutButton.style.display = "block";
          } else {
            // If the user is not authenticated, hide the logout button
            signOutButton.style.display = "none";
          }
        })
        .catch((error) => {
          console.error(error);
        });

      // Sign out operation
      signOutButton.addEventListener("click", async (e) => {
        const res = await fetch("http://localhost:3000/api/auth/signout", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
        })
          .then((res) => {
            return res.json();
          })
          .then((data) => {
            if (data.message === "Successfully logged out") {
              window.location.href = "index.html";
            } else if (data.message === "Failed log out") {
              alert(
                "Something went wrong during logging out, please try again"
              );
            }
          })
          .catch((error) => {
            console.error("Something went wrong during fetch: ", error);
          });
        const username = localStorage.getItem("username");
        if (username) {
          localStorage.removeItem("username");
        }
      });

      function toAllMsgs() {
        window.location.href = "msgs.html";
      }

      function goBack() {
        if (document.referrer.endsWith("feed.html")) {
          window.location.href = "feed.html";
        } else if (document.referrer.endsWith("msgs.html")) {
          window.location.href = "msgs.html";
        } else if (document.referrer.endsWith("one_user_msgs.html.html")) {
          window.location.href = "one_user_msgs.html";
        } else {
          window.history.back();
        }
      }

      function goToHomepage() {
        window.location.href = "index.html";
      }
    </script>
  </body>
</html>
